/* DONUT CHARTS */
#a-chart {
  --percent: 8;
}

.item {
  display: block;
}

.item h2 {
  text-align: center;
  width: 100%;
}

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: block; /* svg is auto display-inline*/
  margin: auto;
  overflow: visible;
}

.circle_animation {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.donut .circle_animation {
  -webkit-animation: donut 1.3s ease-in-out forwards;
  animation: donut 1.3s ease-in-out forwards;
}

@-webkit-keyframes donut {
  to {
    stroke-dashoffset: var(--percent);
    /* 50% would be 220 (half the initial value specified above) */
  }
}

@keyframes donut {
  to {
    stroke-dashoffset: var(--percent);
  }
}
