.hero {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%; /* don't use 100vw, that will cause horizontal scrollbar */
  height: 100vh;
}

.svg {
  width: 100%;
  height: 100%;
}

#vis {
  display: flex;
  align-items: stretch;
  width: 50vh;

  height: 60vh;
  margin-left: 0;

  background-color: #222425;
}

#graph {
  display: inline-block;
  width: 70%;
}

.bar {
  cursor: pointer;

  transition: fill .3s ease;

  fill: var(--color-accent-primary-2);
}

.bar:hover, .bar:focus {
  fill: var(--color-accent-special);
}

#bar-text {
  display: flex;
  flex-flow: column nowrap;
  width: 25%;
  height: 100%;

  text-align: right;
  vertical-align: top;
}

.category {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;

  text-align: right;
}
