.bar {
  cursor: pointer;

  transition: fill .3s ease;

  fill: var(--color-accent-primary-2); /* how to make global? */
}

.bar:hover, .bar:focus {
  fill: var(--color-accent-special);
}

#bar-text {
  position: relative;

  display: inline-block;
  width: 25%;

  text-align: right;
  vertical-align: top;
}

.category {
  text-align: right;
  position: absolute;
  /* add text overflow */
  
}

.toolTip {
  left: 200px;
  position: relative;
}

.category-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right;
}
