#sections {
  position: relative;
  top: 0;
  z-index: 90;

  display: inline-block;
  width: 25vw;
}
  
.step {
  margin-bottom: 200px;
}
  
#vis {
  position: sticky;
  top: 60px;
  z-index: 1;

  display: block;
  width: 50vh;

  height: 60vh;
  margin-left: 0;

  background-color: #222425;
}

#graph {
  display: inline-block;
  width: 70%;

  background-color: #222425;
}

#text {
  display: inline-block;
  width: 25%;

  text-align: right;
  vertical-align: top;
  position: relative;
}

.category {
  position: relative;
  float: right;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%; /* don't use 100vw, that will cause horizontal scrollbar */
  height: 100vh;
}

#graphic {
  display: flex;
  flex-flow: row nowrap;
}
