#sections {
  position: relative;
  top: 0;
  z-index: 90;

  display: inline-block;
  width: 25vw;
}
  
.step {
  margin-bottom: 200px;
}
  
#vis {
  position: sticky;
  top: 60px;
  z-index: 1;

  display: block;
  width: 50vw;

  height: 60vh;
  margin-left: 0;

  background-color: #dddddd;
}

.hero {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%; /* don't use 100vw, that will cause horizontal scrollbar */
  height: 100vh;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#graphic {
  display: flex;
  flex-flow: row nowrap;
}
