.chart {
  width: 100%;
  height: 40rem;
  overflow-x: auto;

  background: transparent;
}

.chart .series {
  filter: url('#filter-highlight');
}

.chart .series.series-active {
  filter: none;
}

.chart .series-run {
  fill: none;
  stroke-width: 2px;

  stroke: var(--run-color);
}

.chart .series-run-touch-target {
  fill: none;
  stroke-width: 16px;

  stroke: transparent;
}

.chart .series-marker {
  fill: var(--run-color);
}

.chart .series-run-cap {
  fill: var(--run-color);
}
