.chart {
  width: 100%;
  height: 40rem;
}

.chart .series {
  filter: url('#filter-highlight');
}

.chart .series:hover {
  filter: none;
}

.chart .series-run {
  fill: none;
  stroke-width: 2px;

  stroke: var(--run-color);
}

.chart .series-run-touch-target {
  fill: none;
  stroke-width: 16px;

  stroke: transparent;
}

.chart .series-run-cap {
  fill: var(--run-color);
}
