/* spotify-gdpr.css - styles for spotify-gdpr.html */
body {
  background-image: url('/img/bg/spotify-gdpr.svg');
  background-size: 24rem;
}

#btn-get-started, #btn-data-upload {
  display: block;
  margin: 1rem 0;
}

#input-data-upload {
  display: none;
}
